In [1]:
%load_ext sql

In [2]:
%sql sqlite:///example.db

'Connected: @example.db'

In [3]:
%sql select * from sqlite_master;

 * sqlite:///example.db
Done.

[('table', 'sales', 'sales', 2, 'CREATE TABLE sales (\n\t"index" BIGINT, \n\t"Unnamed: 0" BIGINT, \n\temp_id BIGINT, \n\tyear BIGINT, \n\tquarter BIGINT, \n\tsales FLOAT, \n\tbonus FLOAT\n)'),
 ('index', 'ix_sales_index', 'sales', 3, 'CREATE INDEX ix_sales_index ON sales ("index")'),
 ('table', 'employees', 'employees', 4, 'CREATE TABLE employees (\n\t"index" BIGINT, \n\t"Unnamed: 0" BIGINT, \n\temp_id BIGINT, \n\tyears_w_co BIGINT, \n\tdob TEXT, \n\tdate_train TEXT\n)'),
 ('index', 'ix_employees_index', 'employees', 5, 'CREATE INDEX ix_employees_index ON employees ("index")')]

In [4]:
result = %sql select * from employees;
df = result.DataFrame()
df.head()

 * sqlite:///example.db
Done.

   index  Unnamed: 0   emp_id  years_w_co         dob  date_train
0      0           0  1012319          10  1982-06-05  2018-07-14
1      1           2  1073588           2  1991-12-17  2018-06-28
2      2           3  1101855           7  1983-03-22  2019-05-28
3      3           7  1231076           3  1980-05-12  2018-04-14
4      4           8  1270962           2  1989-05-19  2018-05-14

In [5]:
%%sql
SELECT * FROM employees
JOIN sales
ON employees.emp_id = sales.emp_id;

 * sqlite:///example.db
Done.

[(0, 0, 1012319, 10, '1982-06-05', '2018-07-14', 103, 103, 1012319, 2018, 1, 344.0, 0.0),
 (0, 0, 1012319, 10, '1982-06-05', '2018-07-14', 111, 111, 1012319, 2018, 2, 464.0, 0.0),
 (0, 0, 1012319, 10, '1982-06-05', '2018-07-14', 118, 118, 1012319, 2018, 3, 80.0, 0.0),
 (0, 0, 1012319, 10, '1982-06-05', '2018-07-14', 125, 125, 1012319, 2018, 4, 276.0661764705883, 0.0),
 (0, 0, 1012319, 10, '1982-06-05', '2018-07-14', 134, 134, 1012319, 2019, 1, 119.0, 0.0),
 (0, 0, 1012319, 10, '1982-06-05', '2018-07-14', 142, 142, 1012319, 2019, 2, 59.0, 0.0),
 (0, 0, 1012319, 10, '1982-06-05', '2018-07-14', 147, 147, 1012319, 2019, 3, 31.0, 0.0),
 (1, 2, 1073588, 2, '1991-12-17', '2018-06-28', 104, 104, 1073588, 2018, 1, 290.0, 0.0),
 (1, 2, 1073588, 2, '1991-12-17', '2018-06-28', 112, 112, 1073588, 2018, 2, 42.0, 0.0),
 (1, 2, 1073588, 2, '1991-12-17', '2018-06-28', 119, 119, 1073588, 2018, 3, 292.0, 0.0),
 (1, 2, 1073588, 2, '1991-12-17', '2018-06-28', 126, 126, 1073588, 2018, 4, 290.0, 0.0),
 (1, 2, 1073588, 2, '1991-12-17', '2018-06-28', 135, 135, 1073588, 2019, 1, 301.0, 0.0),
 (1, 2, 1073588, 2, '1991-12-17', '2018-06-28', 143, 143, 1073588, 2019, 2, 209.0, 0.0),
 (2, 3, 1101855, 7, '1983-03-22', '2019-05-28', 36, 36, 1101855, 2013, 4, 55.0, 0.0),
 (2, 3, 1101855, 7, '1983-03-22', '2019-05-28', 42, 42, 1101855, 2014, 1, 532.0, 2000.0),
 (2, 3, 1101855, 7, '1983-03-22', '2019-05-28', 48, 48, 1101855, 2014, 2, 298.0, 0.0),
 (2, 3, 1101855, 7, '1983-03-22', '2019-05-28', 54, 54, 1101855, 2014, 3, 448.0, 0.0),
 (2, 3, 1101855, 7, '1983-03-22', '2019-05-28', 59, 59, 1101855, 2014, 4, 48.0, 0.0),
 (3, 7, 1231076, 3, '1980-05-12', '2018-04-14', 95, 95, 1231076, 2017, 3, 634.0, 2400.0),
 (3, 7, 1231076, 3, '1980-05-12', '2018-04-14', 99, 99, 1231076, 2017, 4, 547.0, 2000.0),
 (3, 7, 1231076, 3, '1980-05-12', '2018-04-14', 105, 105, 1231076, 2018, 1, 178.0, 0.0),
 (3, 7, 1231076, 3, '1980-05-12', '2018-04-14', 113, 113, 1231076, 2018, 2, 468.0, 0.0),
 (4, 8, 1270962, 2, '1989-05-19', '2018-05-14', 106, 106, 1270962, 2018, 1, 368.0, 0.0),
 (4, 8, 1270962, 2, '1989-05-19', '2018-05-14', 114, 114, 1270962, 2018, 2, 168.0, 0.0),
 (4, 8, 1270962, 2, '1989-05-19', '2018-05-14', 120, 120, 1270962, 2018, 3, 70.0, 0.0),
 (4, 8, 1270962, 2, '1989-05-19', '2018-05-14', 127, 127, 1270962, 2018, 4, 616.0, 2400.0),
 (4, 8, 1270962, 2, '1989-05-19', '2018-05-14', 136, 136, 1270962, 2019, 1, 276.0661764705883, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 0, 0, 1275342, 2010, 2, 8.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 1, 1, 1275342, 2010, 3, 333.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 2, 2, 1275342, 2010, 4, 594.0, 2000.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 3, 3, 1275342, 2011, 1, 276.0661764705883, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 4, 4, 1275342, 2011, 2, 340.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 5, 5, 1275342, 2011, 3, 277.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 7, 7, 1275342, 2011, 4, 23.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 9, 9, 1275342, 2012, 1, 312.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 12, 12, 1275342, 2012, 2, 705.0, 2800.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 15, 15, 1275342, 2012, 3, 276.0661764705883, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 19, 19, 1275342, 2012, 4, 43.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 23, 23, 1275342, 2013, 1, 341.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 27, 27, 1275342, 2013, 2, 152.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 31, 31, 1275342, 2013, 3, 778.0, 2800.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 37, 37, 1275342, 2013, 4, 517.0, 2000.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 43, 43, 1275342, 2014, 1, 141.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 49, 49, 1275342, 2014, 2, 382.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 55, 55, 1275342, 2014, 3, 562.0, 2000.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 61, 61, 1275342, 2014, 4, 151.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 64, 64, 1275342, 2015, 1, 9.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 68, 68, 1275342, 2015, 2, 276.0661764705883, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 71, 71, 1275342, 2015, 3, 731.0, 2800.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 74, 74, 1275342, 2015, 4, 482.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 77, 77, 1275342, 2016, 1, 333.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 81, 81, 1275342, 2016, 2, 753.0, 2800.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 85, 85, 1275342, 2016, 3, 241.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 88, 88, 1275342, 2016, 4, 398.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 91, 91, 1275342, 2017, 1, 42.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 93, 93, 1275342, 2017, 2, 466.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 96, 96, 1275342, 2017, 3, 188.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 100, 100, 1275342, 2017, 4, 33.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 107, 107, 1275342, 2018, 1, 276.0661764705883, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 115, 115, 1275342, 2018, 2, 276.0661764705883, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 121, 121, 1275342, 2018, 3, 276.0661764705883, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 128, 128, 1275342, 2018, 4, 39.0, 0.0),
 (5, 9, 1275342, 11, '1981-01-23', '2018-01-28', 137, 137, 1275342, 2019, 1, 227.0, 0.0),
 (6, 10, 1290944, 12, '1983-09-21', '2019-08-14', 10, 10, 1290944, 2012, 1, 133.0, 0.0),
 (6, 10, 1290944, 12, '1983-09-21', '2019-08-14', 13, 13, 1290944, 2012, 2, 618.0, 2400.0),
 (6, 10, 1290944, 12, '1983-09-21', '2019-08-14', 16, 16, 1290944, 2012, 3, 260.0, 0.0),
 (6, 10, 1290944, 12, '1983-09-21', '2019-08-14', 20, 20, 1290944, 2012, 4, 366.0, 0.0),
 (6, 10, 1290944, 12, '1983-09-21', '2019-08-14', 24, 24, 1290944, 2013, 1, 165.0, 0.0),
 (6, 10, 1290944, 12, '1983-09-21', '2019-08-14', 28, 28, 1290944, 2013, 2, 517.0, 2000.0),
 (6, 10, 1290944, 12, '1983-09-21', '2019-08-14', 32, 32, 1290944, 2013, 3, 600.0, 2400.0),
 (6, 10, 1290944, 12, '1983-09-21', '2019-08-14', 38, 38, 1290944, 2013, 4, 54.0, 0.0),
 (6, 10, 1290944, 12, '1983-09-21', '2019-08-14', 44, 44, 1290944, 2014, 1, 42.0, 0.0),
 (6, 10, 1290944, 12, '1983-09-21', '2019-08-14', 50, 50, 1290944, 2014, 2, 568.0, 2000.0),
 (6, 10, 1290944, 12, '1983-09-21', '2019-08-14', 56, 56, 1290944, 2014, 3, 276.0661764705883, 0.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 78, 78, 1317008, 2016, 1, 419.0, 0.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 82, 82, 1317008, 2016, 2, 552.0, 2000.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 86, 86, 1317008, 2016, 3, 451.0, 0.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 89, 89, 1317008, 2016, 4, 663.0, 2400.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 92, 92, 1317008, 2017, 1, 9.0, 0.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 94, 94, 1317008, 2017, 2, 962.0, 3600.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 97, 97, 1317008, 2017, 3, 177.0, 0.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 101, 101, 1317008, 2017, 4, 1238.0, 4800.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 108, 108, 1317008, 2018, 1, 180.0, 0.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 116, 116, 1317008, 2018, 2, 990.0, 3600.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 122, 122, 1317008, 2018, 3, 1053.0, 4000.0),
 (7, 11, 1317008, 6, '1988-09-15', '2018-02-28', 129, 129, 1317008, 2018, 4, 15.0, 0.0),
 (8, 12, 1339910, 7, '1985-09-20', '2019-02-14', 65, 65, 1339910, 2015, 1, 382.0, 0.0),
 (8, 12, 1339910, 7, '1985-09-20', '2019-02-14', 69, 69, 1339910, 2015, 2, 276.0661764705883, 0.0),
 (8, 12, 1339910, 7, '1985-09-20', '2019-02-14', 72, 72, 1339910, 2015, 3, 501.0, 2000.0),
 (8, 12, 1339910, 7, '1985-09-20', '2019-02-14', 75, 75, 1339910, 2015, 4, 147.0, 0.0),
 (8, 12, 1339910, 7, '1985-09-20', '2019-02-14', 79, 79, 1339910, 2016, 1, 581.0, 2000.0),
 (8, 12, 1339910, 7, '1985-09-20', '2019-02-14', 83, 83, 1339910, 2016, 2, 248.0, 0.0),
 (9, 13, 1387528, 7, '1985-01-27', '2018-08-28', 33, 33, 1387528, 2013, 3, 67.0, 0.0),
 (9, 13, 1387528, 7, '1985-01-27', '2018-08-28', 39, 39, 1387528, 2013, 4, 276.0661764705883, 0.0),
 (9, 13, 1387528, 7, '1985-01-27', '2018-08-28', 45, 45, 1387528, 2014, 1, 599.0, 2000.0),
 (9, 13, 1387528, 7, '1985-01-27', '2018-08-28', 51, 51, 1387528, 2014, 2, 387.0, 0.0),
 (9, 13, 1387528, 7, '1985-01-27', '2018-08-28', 57, 57, 1387528, 2014, 3, 276.0661764705883, 0.0),
 (10, 15, 1446126, 3, '1995-07-05', '2018-02-28', 130, 130, 1446126, 2018, 4, 326.0, 0.0),
 (10, 15, 1446126, 3, '1995-07-05', '2018-02-28', 138, 138, 1446126, 2019, 1, 276.0661764705883, 0.0),
 (10, 15, 1446126, 3, '1995-07-05', '2018-02-28', 144, 144, 1446126, 2019, 2, 321.0, 0.0),
 (10, 15, 1446126, 3, '1995-07-05', '2018-02-28', 148, 148, 1446126, 2019, 3, 298.0, 0.0),
 (11, 18, 1507021, 2, '1982-09-20', '2018-06-14', 132, 132, 1507021, 2018, 4, 854.0, 3200.0),
 (11, 18, 1507021, 2, '1982-09-20', '2018-06-14', 140, 140, 1507021, 2019, 1, 171.0, 0.0),
 (11, 18, 1507021, 2, '1982-09-20', '2018-06-14', 146, 146, 1507021, 2019, 2, 267.0, 0.0),
 (11, 18, 1507021, 2, '1982-09-20', '2018-06-14', 150, 150, 1507021, 2019, 3, 55.0, 0.0)]